* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
}

h2 {
    font-family: sans-serif, auto;
}

.centered {
    display: flex;
    width: 100%;
    height: 100%;
}

#wellareya {
    user-select: none;
    margin: auto;
    padding: 0 0.1em;
    font-size: 12vmin;
    border-radius: 2.5vmin;
    box-shadow: 0.9vmin 0.8vmin rgba(255, 0, 0, 0.45);
    width: fit-content;
    background-color: pink;
    color: white;
}

#wellareya:hover {
    background-color: #FF9BB5;
    cursor: pointer;
}

#wellareya:active    {
    background-color: hotpink;
}

/* styling for the free view counter */

#besucherzaehler2 {
    position: absolute;
    right: 1.1em;
    bottom: 0;
}
