* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
}

h2 {
    font-family: sans-serif, auto;
}

.centered {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#wellareya {
    user-select: none;
    position: relative;
    padding: 0 0.1em;
    font-size: 12vmin;
    border-radius: 2.5vmin;
    box-shadow: 0.9vmin 0.8vmin rgba(255, 0, 0, 0.45);
    width: fit-content;
    background-color: #FF9BB5;
    color: white;
    transition: top 0.02s, left 0.02s;
}

#wellareya:hover {
    background-color: hotpink;
    cursor: pointer;
}

#wellareya:active    {
    box-shadow: none;
    top: 0.8vmin;
    left: 0.9vmin;
}

/* styling for the free view counter */

#besucherzaehler2 {
    position: absolute;
    right: 1.1em;
    bottom: 0;
}
